.main{
  margin-top: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: inherit;
}

.last{
  display: flex;
  flex-direction: row;
  justify-content: center;
}